/* common */





/* header */

h1{
  font-size:18px ;
  border-bottom: 1px solid;
  padding:8px 16px;
  margin-bottom: 16px;
}

dl > div.appear dt::after {
  transform:rotate(45deg);
}


dl {
  margin: 0;

}
dd{
  margin: 0;
  padding: 8px;
  display: none;
}
dt{
  padding: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;

}
dt::before{
  content:'Q,';
}
dt::after{
  content:'+';
  position: absolute;
  top:8px;
  right: 16px;
  transition:transform .0.3s
}
dd::before{
  content:'A,';
}



dl > div {
  margin-bottom: 8px;
}

dl > div.appear dd {
  display: block;
  animation:0.3s fadeIn;
}

@keyframes fadeIn{
  0%{
    opacity:0;
    transform: translateY(-10px) ;
  }
  100%{
    opacity:1;
    transform: none;
  }
}